<div class="wrapper">
  <div class="container text-center padded">
    <div class="title">
      <h2>Find your local police force</h2>
    </div>
    <div class="search-bar padded">
      <form action="get" class="inline">
        <input type="text" placeholder="Enter your local police force">
        <input type="submit">
      </form>
    </div>
    <div class="list">
      <% @forces.each do |force| %>
        <%= render 'force_list_item', force: force %>
      <% end %>
    </div>
  </div>
</div>
