<%= link_to root_path do %>
  <div class="card-category">
    <%= image_tag "#{image_path}", class: "card-photo" %>
    <p class="card-category-description"><%= description %> </p>
  </div>
<% end %>

