.banner {
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  color: white;
}

#banner-cta{
  font-size: 40px;
  cursor: pointer;
}
